

.app-header {
    color: var(--clr2txt);
    background-color: var(--clr1bg);
    padding-block: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}


.app-nav a.nav {
    display: inline-block; 
    transition: transform 0.1s ease; 
}
.app-nav a.nav:hover {
    transform: scale(1.2); 
    /* font-weight: 700; */
}

/* .app-nav a.active {
    color: var(--clr2);
    font-weight: 700;
} */


.app-nav a.nav.active {
    color: var(--clr2);
    font-weight: 700;
} 

.app-nav {
    display: flex;
    font-size: 1.2em;
    gap: 1em;
    align-items: center;
}
/* .app-nav a:hover {
    font-weight: 700;
} */

.logo {
    height: 5em;
    margin-right: 2em;
}