input:focus {
    background-color: $clr-bg;
    transition: background-color 1s;
}

.text-area {
    width: 320px;
    font-family: 'poppins';
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #DAE2ED;
    color: #1C2025;
    box-shadow: 0px 2px 2px #F3F6F9;

    &:hover {
        border-color: #3399FF;
    }

    &:focus {
        outline: #3399FF;
        box-shadow: 0 0 0 3px #b6daff;
    }
}