

// Button colors
$btn1: #f93d3c;
$btn2: #fb6d3b;

$btn1-hover: darkenColor($btn1);
$btn2-hover: lightenColor($btn2);

// Main text colors
$clr1-txt: #052125;
$clr2-txt: #ffffff;
$clr3-txt: #9e9e9e;
$clr4-txt: #f7f7f7;

// Main bg colors
$clr-bg: #ffffff;
$clr-bg-footer: #026153;
